header {
    text-align: center;
}

.card-photo {
    border-radius: 10px 10px 0px 0px;
    width: 317px;
    background-color: #23252C;
}

h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.about--position {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #F3BF99;
}

.about--website {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #F5F5F5;
    text-decoration: none;
}

.about--buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.about--icons {
    margin: 0px 2px;
    width: 16px;
    height: 16px;
}

.about--links {
    text-decoration: none;
}

.about--texts {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}

.about--email {
    width: 65px;
    height: 34px;
    padding: 9px 13px 9px 11px;
    background: #FFFFFF;
    color: #000;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin: 5px;
}

.about--linkedin {
    width: 65px;
    height: 34px;
    padding: 9px 13px 9px 11px;
    background: #5093E2;
    color: #FFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin: 5px;
}