/* This is the stylesheet for the About and Interests components. */

.main {
    color: #FFFFFF;
}

.main--headers {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #F5F5F5;
    margin-bottom: 0;
}

.main--texts {
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 10px;
}